SondageClient/Service References/ServiceReference1/SondageWS31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/USherbrooke.ServiceModel.Sondage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/USherbrooke.ServiceModel.Sondage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPoll">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Poll" nillable="true" type="tns:Poll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPoll" nillable="true" type="tns:ArrayOfPoll" />
  <xs:complexType name="Poll">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Poll" nillable="true" type="tns:Poll" />
  <xs:complexType name="PollQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="PollId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PollQuestion" nillable="true" type="tns:PollQuestion" />
</xs:schema>